@import '../../scss/mixin';
@import '../../scss/variables';

.reveal {
  &__wrp {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transform-origin: top center;
  }

  &__sheet {
    position: relative;
    z-index: 99;
    width: 100%;
    background-color: $light-black;
  }
}