@import '../../scss/mixin';
@import '../../scss/variables';

.welcome {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  h1 {
    font-size: 3.5em;
    margin-bottom: 3rem;
  }
}